body {
  background: #333;
  color: #fff; }

.navbar {
  border-bottom: 3px solid #008ed6;
  background: #292b2c;
  opacity: .9; }

#home-head-section {
  background: url("../img/home.jpg") no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px; }
  #home-head-section .dark-overlay {
    background: rgba(0, 0, 0, 0.5);
    min-height: 700px; }
  #home-head-section .fa {
    background: #fff;
    padding: 4px;
    border-radius: 5px;
    color: #008ed6;
    font-size: 30px; }
  #home-head-section .card-form {
    opacity: 0.8; }
  #home-head-section .home-inner {
    padding-top: 150px;
    padding-bottom: 50px; }

#explore-main-section .fa {
  background: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px; }

#create-main-section .fa {
  background: #fff;
  padding: 4px;
  color: #008ed6;
  border-radius: 5px;
  font-size: 30px; }

#share-main-section .fa {
  background: #333;
  padding: 4px;
  color: #fff;
  border-radius: 5px;
  font-size: 30px; }

#footer-section p span {
  colro: red; }

@media (max-width: 768px) {
  #home-head-section h1 {
    font-size: 40px; } }
